porps_testbed/.vs/porps_testbed/FileContentIndex/9b43e007-5f0a-472b-94ea-8e7d640995cf.vsidx
porps_testbed/.vs/porps_testbed/FileContentIndex/d48e50b2-5e18-4967-a163-4dabcd764c99.vsidx
porps_testbed/.vs/porps_testbed/v17/.suo
porps_testbed/.vs/porps_testbed/v17/DocumentLayout.backup.json
porps_testbed/.vs/porps_testbed/v17/DocumentLayout.json
porps_testbed/porps_testbed.pyproj
porps_testbed/porps_testbed.sln
