porps_testbed/.vs/porps_testbed/FileContentIndex/9b43e007-5f0a-472b-94ea-8e7d640995cf.vsidx
porps_testbed/.vs/porps_testbed/FileContentIndex/d48e50b2-5e18-4967-a163-4dabcd764c99.vsidx
porps_testbed/.vs/porps_testbed/v17/.suo
porps_testbed/.vs/porps_testbed/v17/DocumentLayout.backup.json
porps_testbed/.vs/porps_testbed/v17/DocumentLayout.json
porps_testbed/porps_testbed.pyproj
porps_testbed/porps_testbed.sln
porps_testbed/.vs/porps_testbed/FileContentIndex/c3d4e184-a7a0-44f1-a460-0115195b7c84.vsidx
porps_testbed/.vs/porps_testbed/FileContentIndex/e80e8f5b-b0d2-49e6-87f9-d3b894abd57f.vsidx
porps_testbed/.vs/porps_testbed/FileContentIndex
porps_testbed/config.py
